.input{
    width: 274px
}
.nav{
    font-size: 20px
}
.nav-dropdown-menu{
    text-decoration: none
}
.a{
    -webkit-transition: 5s;
    -moz-transition: 5s;
    -o-transition: 5s;
    transition: 5s;
}
.carou:hover{
    cursor: pointer;
}